// Typography 

h1, h2, h3 a, h4, p, nav, ul, blockquote {
	font-weight: normal;
}

header h1, nav ul li {
	font-size: ms(0);
	padding-bottom: 0;}

header h1 {
	line-height: 35px;
	font-weight: normal;
}

h1, h3 {
	font-size: ms(4);
	line-height: 1;
	padding-bottom: ms(0);
	a {
		color: $black;
		text-decoration: none;}}

h2 {
	font-size: ms(4);
	line-height: 1;
	a {
		color: $black;}}

h4, blockquote {
    font-size: ms(1);
    line-height: 1.4;
    font-weight: normal;}

blockquote {
	color: $berry;
	-webkit-text-fill-color: transparent;
	background: -webkit-linear-gradient($berry, $blue); /* For Safari 5.1 to 6.0 */
 	background: -o-linear-gradient(transparent, transparent);
	-webkit-background-clip: text;}

.small {
	font-size: ms(-1);}

p, ul, h4, h2 {
	padding-bottom: ms(1);}

hr {
	margin-bottom: ms(1);}

a {
	color: $black;
	&:hover {
		color: $blue; 
		text-decoration: underline;}}








// // Larger than mobile screen
// @media (min-width: 40.0rem)

// 	h1
// 		font-size: 5.0rem

// 	h2
// 		font-size: 4.2rem

// 	h3
// 		font-size: 3.6rem

// 	h4
// 		font-size: 3.0rem

// 	h5
// 		font-size: 2.4rem

// 	h6
// 		font-size: 1.5rem
