@font-face {
    font-family: 'BauerGroteskWeb';
    src: url('/static/gen/BauerGroteskWeb.woff') format('woff');}

// Font weights
$regular: 400;

// Base Font
$ms-base: 20px;
$ms-ratio: $major-third;

$base-font-family: 'BauerGroteskWeb' sans;
$base-font-weight: normal;
$base-font-size: $ms-base;
$base-line-height: 1.4;

// Color
$white: #fcfcfc;
$black: #1A1A1A;
$darkblue: #0C2B3D;
$yellow: #D6C156; //#F9FF00; //#FEF413;
$blue: #146DD3; //#55A7D7; //#0013FF;//#0064FF;
$green: #5DD314;
$berry: #FF0099;
$grey: #BDBCBB;



     
