<!doctype html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{
  '/static/gen/styles.css'|asseturl }}">
<script type=text/javascript src="{{
  '/static/gen/app.js'|asseturl }}" charset="utf-8"></script>
<link href='https://fonts.googleapis.com/css?family=Alegreya+Sans:400,300,800' rel='stylesheet' type='text/css'>
<title>{% block title %}Welcome{% endblock %} — topotropic</title>
{% block extrahead %}{% endblock %}
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["setDomains", ["*.topotropic.github.io"]]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://analytics.websushi.org/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 8]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="https://analytics.websushi.org/piwik.php?idsite=8" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
</head>
<body>
  <div class="wrapper">
    <header>
      <h1><a href="{{ '/blog'}}">Nicole Weber</a></h1>

      <!--<h1><a href="{{ '/'|url }}">Nicole Weber</a></h1>-->
      <nav>
        <ul class="nav navbar-nav">
          <li{% if this._path == '/' %} class="active"{% endif
            %}></li>
          {% for href, title in [
            ['/blog', 'Blog'],
            ['/about', 'About'],
          ] %}
            <li{% if this.is_child_of(href) %} class="active"{% endif
              %}><a href="{{ href|url }}">{{ title }}</a></li>
          {% endfor %}
        </ul>
      </nav>
    </header>
    <div class="page">
      {% block body %}{% endblock %}
    </div>
    <footer>
    </footer>
  </div>
</body>
