{% extends "layout.html" %}
{% from "macros/library.html" import render_book %}
{% from "macros/pagination.html" import render_pagination %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}

<div class="library">

<!--   {% set tags = site.query('/library').distinct('tags') %}
  {% if tags %}
    <ul>
      {% for tag in tags|sort %}
        <li><a href="tags/{{ tag }}">{{ tag }}</a></li>
      {% endfor %}
    </ul>
  {% endif %} -->

  <ul>
  {% for child in this.pagination.items %}

    {{ render_book(child, from_index=true) }}

  {% endfor %}
  </ul>
  {% if this.pagination.total > 10 %}
    {{ render_pagination(this.pagination) }}
  {% endif %} 
<div>

{% endblock %}


