{% macro render_blog_post(post, from_index=false) %}
  <div class="blog-post">

    <p class="small">{{ post.pub_date }}</p>

      {% if post.read_on %}
        <h3><a href="{{ post|url }}">{{ post.title }}</a></h3>
        {{ post.teaser }}
        <p><a href="{{ post|url }}">Read on</a></p>
      {% else %}
        <h3>{{ post.title }}</h3>
        {{ post.teaser }}
      {% endif %}

  </div>
  
{% endmacro %}



  {% set tags = site.query('/blog').distinct('tags') %}
  {% if tags %}
    <ul>
      {% for tag in tags|sort %}
        <li><a href="tags/{{ tag }}">{{ tag }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}


  1. Click on tag
  2. Open new page that lists all entries with the specified tag
  3.  